

<!-- <pre>{{allproducts | json}}</pre> -->


<section class="py-5">
    <div class="p3">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            <div *ngFor="let product of allproducts | filter:searchterms : 'title' " class="col mb-5">
                <div class="card h-100 align-items-center bg-dark text-light">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.images" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>

                            <h6 class="fw-bolder"> rating:{{product.rating}}</h6>
                            <!-- Product price-->
                            $price:{{product.price}}
                        </div>
                     </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button (click)="addtowishlist(product)" class="btn btn-outline-warning mt-auto" routerLink="" ><i class="fa fa-heart"></i></button> &nbsp; &nbsp; &nbsp;
                            <button (click)="addcart(product)" class="btn btn-outline-success mt-auto" ><i class="fa fa-cart-plus"></i></button>
                    </div>
                </div>
             </div>
            </div>
            </div>
            </div>
        </div>
        </section>
       
       