<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
        the best offers for your  <br />
            <span style="color: hsl(130, 90%, 50%)">E Shop</span>
          </h1>
        <img style="width: 250px;" src="https://t3.ftcdn.net/jpg/00/73/84/06/240_F_73840681_s6QJs269L4vznkRTf4o5OM0eRRqIxiBg.jpg" alt="">
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <!-- Email input -->
                <form [formGroup]="loginform">
                <div class="form-outline mb-4">
                  <input formControlName="uname"  type="text" id="login_uname" class="form-control" placeholder="username" >
                  <label class="form-label" for="form3Example3">User name</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input formControlName="pswd" type="password" id="login_pswd" class="form-control" placeholder="password" >
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                
                <!-- Submit button -->
                <button (click)="login()" type="submit" class="btn btn-primary btn-block mb-4">
                  login
                </button>
              </form>
              <div class="text-center fs-5 mt-3">
                <a href="#">Forget password?</a> or
                 <a routerLink="../register">Sign up</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
